<script setup lang="ts">
import { reactive, computed } from "vue";
const state = reactive({
  num1: "1",
  num2: "1",
  result: 2,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});
const doApp = () => {
  state.result = parseInt(state.num1) + parseInt(state.num2);
};
</script>

<template>
  <div class="card" id="app">
    <div class="frame">
      <input type="text" ref="num1" v-model="state.num1" />
      <div>+</div>
      <input type="text" ref="num2" v-model="state.num2" /><br />
      <button onclick="doApp()">=</button>
      <div ref="result">{{ state.result }}</div>
      <div>{{ state.num1 }} + {{ state.num2 }} = {{ result }}</div>
    </div>
  </div>
</template>

<style scoped>
.card {
  display: flex;
  justify-content: end;
}

.frame {
  width: 350px;
  height: 350px;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  background-color: antiquewhite;
  text-align: center;
  font-size: 24pt;
}

input {
  text-align: center;
  font-size: 18pt;
}

p {
  font-size: 30pt;
  text-align: center;
}
</style>
