<script setup lang="ts">
import { ref } from "vue";
const message = ref("Hello world");
function reverseMessage() {
  message.value = message.value.split(" ").reverse().join(" ");
}

function notify() {
  alert("navigation was prevented.");
}
</script>

<template>
  <div>
    <h1>{{ message }}</h1>
    <button @click="reverseMessage()">Revrese message</button>
    <button @click="message += '!'">Append "!"</button>
    <a href="https://vuejs.org" @click.prevent="notify"
      >A link with e.preventDefault</a
    >
  </div>
</template>
<style scoped>
ิ a,
button {
  display: block;
  margin-bottom: 1em;
}
</style>
