<script setup lang="ts">
import CalComponent from "./components/CalComponent.vue";
import HelloWorldEX from "./components/HelloWorldEX.vue";
import HeadindUserInput from "./components/HeadindUserInput.vue";
import AttributeBinding from "./components/AttributeBinding.vue";
import ConditionAndLoops from "./components/ConditionAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent /><br /><br />
    <FormBindings /><br /><br />
    <ConditionAndLoops /><br /><br />
    <AttributeBinding />
    <HeadindUserInput />
    <CalComponent />
    <HelloWorldEX />
  </div>
</template>

<style scoped></style>
